@font-face {
  font-family: "BigBlueTerm";
  src: url("/res/fonts/BigBlueTermPlusNerdFont-Regular.ttf");
}

html {
  margin: 0;
}

body {
  font-family: "BigBlueTerm";
  font-size: 0.9em;
  width: 99%;
  margin: 0 auto;
  background-color: #1F1F28;
  color: #DCD7BA;
}

header {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #E6C384;
}

.nav-bar {
  background-color: #7E9CD8;
  height: 5%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-content {
  margin: 1em auto;
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  display: block;
  justify-content: center;
  align-items: center;
}

.main-section {
  border: 0.2em solid #717C7C;
  margin-top: 4vw;
  margin-bottom: 4vw;
  padding: 2vw;
}

.code-keyword {
  color: #957FB8;
}

.code-filesys {
  color: #7E9CD8;
}

.code-term {
  color: #E6C384;
}

a {
  color: #E82424;
  text-decoration: underline;
}

.nav-link {
  color: #090618;
  font-weight: bolder;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.ui-button {
  text-align: center;
  width: 25%;
  border: 0.2em solid #717C7C;
  padding: 1.2vw;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
}

.ui-button:hover {
  background-color: #C34043;
  color: #090618;
}

.ui-button > a {
  color: #7AA89F;
  text-decoration: none;
}

.ui-button > a:hover {
  color: #090618;
}

.send-email,
.send-email > * {
  font-family: inherit;
}

textarea {
  width: 95%;
  height: 20vw;
  background-color: inherit;
  font-family: inherit;
  color: #DCD7BA;
}

footer {
  background-color: #C34043;
  text-align: center;
  padding: 4vw;
}
